<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlackBox Toolkit</title>
    </head>
    <body>
        <h1>Here is the module template</h1>

        <script>
        // JavaScript code for the module can be added here
    </script>
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #111;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #0f0;    
        }
    </style>
    </body>
</html>