<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1 class="title">BlackBox Toolkit</h1>

        <div class="modules">

            <p>Modules disponibles:</p>
            <ul class="module-list">
                <% if (typeof modules !== 'undefined' && modules) { %>
                <%- modules.map(module => `<li><a
                        href="${module.path}">${module.name} -
                        ${module.version}</a>
                    <!-- Little info logo, when hovered, show description -->
                    <span class="info-logo"
                        title="${module.description}">ℹ️</span>
                </li>`).join(" ") %>
                <% } else { %>
                <li>No modules available</li>
                <% } %>
            </ul>
        </div>

        <script>
            const infoLogos = document.querySelectorAll('.info-logo');
            infoLogos.forEach(logo => {
                logo.addEventListener('mouseover', () => {
                    logo.style.cursor = 'pointer';
                });
            });
        </script>

    </body>
</html>
